<!doctype html>
<html ng-app="tApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Travelie</title>

    <link rel="stylesheet" href="main.css">

  </head>

  <body>
    <div class="header dark">
      <div class="title left">
        <h1>Travelie</h1>
      </div>
      <div class="menu right">
        <img class="icon-add-clip icon" src="img/icon_plus.png" alt="+">
      </div>
    </div>

    <main>
      <div class="clip-items" ng-controller="ClipController">

        <!-- Input form -->
        <div class="addClipDialog hidden">
          <form class="dark" ng-submit="addClip()">
            <p>Input Clip information you want to add.</p>
            <div class="item">
              Title:<br />
              <input type="text" ng-model="title"><br />
            </div>
            <div class="item">
              Image Url:<br />
              <input type="text" ng-model="imgUrl"><br />
            </div>
            <div class="item">
              Link:<br />
              <input type="text" ng-model="linkUrl"><br />
            </div>
            <div class="btn-dialog">
              <input class="btn-cancel" type="reset" value="Cancel" />  <input class="btn-submit" type="submit" value="Clip" />
            </div>
          </form>
        </div>
        <!-- Input form -->

        <!-- List view -->
        <div class="list-view">
          <ul>
            <li ng-repeat="clip in clips">
              <div class="title">
                {{clip.title}}
                <a href="{{clip.linkUrl}}" target="_blank"><img class="icon open_new_tab" src="img/icon_open_new_window.png" alt="_"></a>
              </div>
              <img class="image" src="{{clip.imgUrl}}" alt="image">
            </li>
          </ul>
        </div>
        <!-- List view -->

      </div>
    </main>

    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="controller.js"></script>

  </body>

</html>
