html, body {
    height: 100%;
    font-family: 'Roboto Condensed', 'Helvetica Neue', 'Helvetica', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    color: #4a4a4a;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}

body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 80px 0 0 0;
}

.dark {
    background-color: rgba(50, 50, 50, 0.7);

    box-shadow: 0px 1px 1px rgba(50, 80, 80, 0.2);
    -moz-box-shadow: 0px 1px 1px rgba(50, 80, 80, 0.2);
    -webkit-box-shadow: 0px 1px 1px rgba(50, 80, 80, 0.2);

    color: #fff;
}

h1 {
    font-weight: 200;
}

ul {
    list-style: none;
}

.icon {
    width: 1em;
}

.btn-submit {
    margin-top: 1.5em;
    background-color: #819FF7;

    box-shadow: 2px 2px 3px 1px #666;
    -moz-box-shadow: 2px 2px 3px 1px #666;
    -webkit-box-shadow: 2px 2px 3px 1px #666;
}

main {
    min-height: 100%;
    position: absolute;
    float: left;
    top: auto;
    left: 0px;
}

.header {
    position: fixed;
    padding-top: 0;
    
    top: 0;
    left: 0;
    z-index: 10;

    width: 100%;
    height: 80px;
}

.header .left {
    position: relative;

    float: left;
    margin-left: 20px;
}

.header .right {
    position: relative;
    top: 40%;
    margin-top: -0.5em;

    float: right;
    margin-right: 20px;
}

.header .icon {
    width: 2em;
}

.blur {
   filter: blur(3px);
   -webkit-filter: blur(3px);
}

.hidden {
    visibility: hidden;
}

.addClipDialog {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 10;

    text-align: center;
}

.addClipDialog form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 350px;
    height: 350px;

    padding: 15px;
    text-align: center;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    font-size: large;
}

.addClipDialog .item {
    text-align: left;
    margin-left: 1em;
}

.addClipDialog input {
    padding: 0.5em;
    width: 90%;
    margin-bottom: 0.8em;

    border: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    font-size: medium;
}

.btn-dialog input {
    width: 40%;
}

.clip-items .title {
    font-size: large;
}

.clip-items .image {
    width: 300px;
}

